textarea.form-control:focus {
  // outline: none;
  // border-color: transparent;
  box-shadow: none;
}
.form-control {
  border-color: #202124;
}

.form-control::placeholder {
  color: #999;
  font-style: italic;
  font-weight: 600;
  word-spacing: 2px;
}

.toast {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: teal;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  z-index: 9999;
  transition: transform 0.5s ease-in-out;
  opacity: 0;
  visibility: hidden;
}

.toast.show {
  opacity: 1;
  visibility: visible;
}

@media print {
  .hide-on-print {
    display: none !important;
  }
}

.title{
  font-weight: 700;
  font-size: 1.5rem;
  margin-top: 0.125rem;
}
.title-head{
  background-color: #e5e5e5;
  width: 64%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}